---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date: '%Y-%m-%d' }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories[0] }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
    {% endif %}
    {{ content }}
  </div>
  <div class="container">
  {% include related-posts.html %}
  </div>
</article>
